doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Fcc Boilerplate
    // Bootstrap core CSS
    link(href='https://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/narrow-jumbotron.css', rel='stylesheet')
  body
    .container
      header.header.clearfix
        nav
          ul.nav.nav-pills.float-right
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='#') About
            li.nav-item
              a.nav-link(href='#') Contact             
            if !user
              li.nav-item
                a.nav-link(href='/users/login') Login
              li.nav-item
                a.nav-link(href='/users/signup') Sign Up
            else
              li.nav-item
                a.nav-link(href='/users/logout') Logout
              li.nav-item
                a.nav-link(href='/profile') Profile 
        h3.text-muted Fcc Boilerplate
      main(role='main')
        block content
        