extends layout

block content
    if message
      .alert.alert-danger #{ message }
    form(action="/users/login" method="post")
      .form-group.row
        label.col-sm-2.col-form-label Email
        .col-sm-10
          input.form-control-plaintext(type="text"  name="email")
      .form-group.row
        label.col-sm-2.col-form-label(for="inputPassword") Password
        .col-sm-10
           input.form-control(type="password" name="password" placeholder="Password")
      .text-center
        button.btn.btn-dark(type="submit") Login
